dash
dash-core-components
dash-html-components
dash-renderer
dash-table
tweepy
vaderSentiment
unidecode
plotly
pandas
regex
python-memcached
h5py
numpy
Werkzeug
textblob
gunicorn


